@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");

.schedule {
    font-family:"Open Sans", sans-serif;
    font-size: 1em;
    margin: 0 240px 0 96px;
}

.scheduler {
    padding-bottom: 96px;
}

button {
    box-sizing: border-box;
    border-radius: 96px;
    width: 144px;
    font-size: 24px;
    text-align: center;
    position: fixed;
    bottom: 48px;
    right: 48px;
    padding: 5px 0;
    color: white;
    background: #004494;
    border: 1px solid #000000;
}

tr:not(:first-child) {
    cursor: pointer;
}

tr:not(:first-child):hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

table {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 10px 10px 0;
}